<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>

<section>

    <div style="display:grid">
        <a href="/admin/">Admin</a>
        <a href="/customer/">Customer</a>
        <a href="/owner/">Owner</a>
        <a href="/store-manager/">Manager</a>
    </div>

    <h2>View Users</h2>

    <div>
    <button style="margin-top: 12px; margin-bottom: 12px;">Create Manager Account</button>

    <!--Users table-->
    <table style="border: 1px solid black;">
        <tr  style="border: 1px solid black;">
            <th style="margin-left: 20px; border: 1px solid black;">User Name</th>
            <th style="margin-left: 20px; border: 1px solid black;">Full Name</th>
            <th style="margin-left: 20px; border: 1px solid black;">Role</th>
            <th style="margin-left: 20px; border: 1px solid black;">Action</th>
        </tr>
        <tr>
            <td style="margin-left: 20px;border: 1px solid black;"></td>
            <td style="margin-left: 20px;border: 1px solid black;"></td>
            <td style="margin-left: 20px;border: 1px solid black;"></td>
            <td style="margin-left: 20px;border: 1px solid black;">
                <button>EDIT</button>
                <button>DISABLE</button>
            </td>
        </tr>

    </table>
    </div>
<!-- -->
</section>
</body>
</html>