<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Customer</title>
</head>

<body>
    <section class="flex space-x-4 justify-between items-center bg-blue-600 w-full h-12 px-10">
        <a href="/dashboard">
            <div class="flex items-center text-xl text-white">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                </span>
                &nbsp;


                Laundry (Login Only)
            </div>
        </a>

        <div class="space-x-4">
            <a class="text-lg hover:text-blue-900 text-white" href="/admin/">Admin</a>
            <a class="text-lg hover:text-blue-900 text-white" href="/customer/">Customer</a>
            <a class="text-lg hover:text-blue-900 text-white" href="/owner/">Owner</a>
            <a class="text-lg hover:text-blue-900 text-white" href="/store-manager/">Manager</a>
            <a class="text-lg hover:text-blue-900 text-white" href="/logout">Logout</a>
        </div>
    </section>

    <section class="grid place-items-center w-full mt-12">
        <div class="overflow-x-auto relative space-y-4">

            <div class="flex justify-between">
                <span class="text-xl font-bold text-blue-700">
                    USERS
                </span>

                <button type="button"
                    class="focus:outline-none text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Create
                    account</button>

            </div>




            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Username
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Role
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                <tr class="bg-white border-b" th:each="user: ${users}">

                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                               <span th:text="${user.username}"></span>
                                                </th>
                                                <td class="py-4 px-6">
                                                    <span th:text="${user.role}"></span>
                                                </td>
                                                <td class="py-4 px-6">
                                                    <button type="button" disabled th:if="${user.role.equals('ROLE_CUSTOMER')}" class="focus:outline-none text-white bg-gray-400 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-gray-400 focus:ring-gray-300 dark:focus:ring-gray-900 dark:focus:ring-gray-900"
                                                        >Edit</button>


                                                    <button type="button" th:if="${!user.role.equals('ROLE_CUSTOMER')}" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300 dark:focus:ring-yellow-900 dark:focus:ring-yellow-900">
                                                    Edit</button>

                                                    <button type="button"
                                                        class="focus:outline-none text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-red-400 hover:bg-red-500 focus:ring-red-300 dark:focus:ring-red-900 dark:focus:ring-red-900">Delete</button>
                                                </td>
                </tr>





                </tbody>
            </table>
        </div>
    </section>
</body>

</html>